import(Rcpp)
useDynLib(Rfmtool, .registration = TRUE)
export(fm)
export(fm.add_pair_sparse)
export(fm.add_singletons_sparse)
export(fm.add_tuple_sparse)
export(fm.Banzhaf)
export(fm.Banzhaf2addMob)
export(fm.BanzhafMob)
export(fm.BanzhafMob_sparse)
export(fm.Bipartition)
export(fm.BipartitionBanzhaf)
export(fm.Choquet)
export(fm.Choquet2addMob)
export(fm.ChoquetMob)
export(fm.ChoquetKinter)
export(fm.ChoquetMob_sparse)
export(fm.ConstructLambdaMeasure)
export(fm.ConstructLambdaMeasureMob)
export(fm.dualm)
export(fm.dualmMob)
export(fm.dualMobKadd)
export(fm.EntropyChoquet)
export(fm.EntropyChoquetMob)
export(fm.errorcheck)
export(fm.expand_2add_full)
export(fm.expand_sparse_full)
export(fm.export_maximal_chains)
export(fm.fitting)
export(fm.fittingKinteractive)
export(fm.fittingKinteractiveAuto)
export(fm.fittingKinteractiveMarginal)
export(fm.fittingKinteractiveMarginalMC)
export(fm.fittingKinteractiveMC)
export(fm.fittingKmaxitive)
export(fm.fittingKtolerant)
export(fm.fittingMob)
export(fm.fittingOWA)
export(fm.fittingWAM)
export(fm.fm_arraysize)
export(fm.Free)
export(fm.FreeSparseFM)
export(fm.FuzzyMeasureFitLP)
export(fm.FuzzyMeasureFitLPMob)
export(fm.generate_fm_2additive_concave)
export(fm.generate_fm_2additive_convex)
export(fm.generate_fm_2additive_convex_sparse)
export(fm.generate_fm_2additive_convex_withsomeindependent)
export(fm.generate_fm_kadditive_convex_sparse)
export(fm.generate_fm_minplus)
export(fm.generate_fm_tsort)
export(fm.generate_fmconvex_tsort)
export(fm.get_num_tuples)
export(fm.get_sizearray_tuples)
export(fm.Init)
export(fm.Interaction)
export(fm.InteractionB)
export(fm.InteractionBMob)
export(fm.InteractionMob)
export(fm.IsMeasureAdditive)
export(fm.IsMeasureAdditiveMob)
export(fm.IsMeasureBalanced)
export(fm.IsMeasureBalancedMob)
export(fm.IsMeasureKmaxitive)
export(fm.IsMeasureKmaxitiveMob)
export(fm.IsMeasureSelfdual)
export(fm.IsMeasureSelfdualMob)
export(fm.IsMeasureSubadditive)
export(fm.IsMeasureSubadditiveMob)
export(fm.IsMeasureSubmodular)
export(fm.IsMeasureSubmodularMob)
export(fm.IsMeasureSuperadditive)
export(fm.IsMeasureSuperadditiveMob)
export(fm.IsMeasureSupermodular)
export(fm.IsMeasureSupermodularMob)
export(fm.IsMeasureSymmetric)
export(fm.IsMeasureSymmetricMob)
export(fm.is_inset_sparse)
export(fm.is_subset_sparse)
export(fm.max_subset_sparse)
export(fm.min_subset_sparse)
export(fm.Mobius)
export(fm.NonadditivityIndex)
export(fm.NonadditivityIndexMob)
export(fm.NonmodularityIndex)
export(fm.NonmodularityIndexKinteractive)
export(fm.NonmodularityIndexMob)
export(fm.NonmodularityIndexMobkadditive )
export(fm.NonmodularityIndex_sparse)
export(fm.OrnessChoquet)
export(fm.OrnessChoquetMob)
export(fm.populate_fm_2add_sparse)
export(fm.populate_fm_2add_sparse_from2add)
export(fm.PrepareSparseFM)
export(fm.Shapley)
export(fm.Shapley2addMob)
export(fm.ShapleyMob)
export(fm.ShapleyMob_sparse)
export(fm.ShowCoalitions)
export(fm.ShowCoalitionsCard )
export(fm.sparse_get_pairs)
export(fm.sparse_get_singletons)
export(fm.sparse_get_tuples)
export(fm.Sugeno)
export(fm.SugenoMob)
export(fm.test)
export(fm.tuple_cardinality_sparse)
export(fm.Zeta)
export(fm.check_monotonicity_mob_2additive)
export(fm.check_convexity_monotonicity_mob)
export(fm.check_monotonicity_mob)
export(fm.check_monotonicity)
export(fm.check_monotonicity_sort_insert)
export(fm.check_monotonicity_sort_merge)
export(fm.generate_antibuoyant)
export(fm.generate_balanced)
export(fm.generate_belief)
export(fm.generate_fm_sorting)
export(fm.generate_fm_2additive)
export(fm.generate_fm_randomwalk)
export(fm.generate_fm_kinteractivedualconvex)
export(fm.generate_fm_kinteractivedualconcave)
export(fm.generate_fm_2additive_randomwalk2)
export(fm.fitting2additive)
export(fm.ConvertCoMob2Kinter)
export(fm.ChoquetCoMobKInter)