useDynLib(Rfmtool, .registration = TRUE)
export(fm)
export(fm.Banzhaf)
export(fm.BanzhafMob)
export(fm.Choquet)
export(fm.ChoquetMob)
export(fm.ConstructLambdaMeasure)
export(fm.ConstructLambdaMeasureMob)
export(fm.dualm)
export(fm.dualmMob)
export(fm.EntropyChoquet)
export(fm.EntropyChoquetMob)
export(fm.fitting)
export(fm.fittingMob)
export(fm.fittingWAM)
export(fm.fittingOWA)
export(fm.FuzzyMeasureFitLP)
export(fm.FuzzyMeasureFitLPMob)
export(fm.Interaction)
export(fm.InteractionMob)
export(fm.InteractionB)
export(fm.InteractionBMob)
export(fm.IsMeasureAdditive)
export(fm.IsMeasureAdditiveMob)
export(fm.IsMeasureBalanced)
export(fm.IsMeasureBalancedMob)
export(fm.IsMeasureSelfdual)
export(fm.IsMeasureSelfdualMob)
export(fm.IsMeasureSubadditive)
export(fm.IsMeasureSubadditiveMob)
export(fm.IsMeasureSubmodular)
export(fm.IsMeasureSubmodularMob)
export(fm.IsMeasureSuperadditive)
export(fm.IsMeasureSuperadditiveMob)
export(fm.IsMeasureSupermodular)
export(fm.IsMeasureSupermodularMob)
export(fm.IsMeasureSymmetric)
export(fm.IsMeasureSymmetricMob)
export(fm.Mobius)
export(fm.OrnessChoquet)
export(fm.OrnessChoquetMob)
export(fm.Shapley)
export(fm.ShapleyMob)
export(fm.Sugeno)
export(fm.SugenoMob)
export(fm.test)
export(fm.Zeta)
export(fm.Init)
export(fm.errorcheck)


